@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100vw;
  height: 100vh;
}

.dark {
  @apply bg-gray-800 text-zinc-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
